<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PRJ321x-A3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>gui.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListController</display-name>
    <servlet-name>ListController</servlet-name>
    <servlet-class>controller.product.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/ListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.product.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayController</display-name>
    <servlet-name>PayController</servlet-name>
    <servlet-class>controller.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/PayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationProductController</display-name>
    <servlet-name>InformationProductController</servlet-name>
    <servlet-class>controller.InformationProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationProductController</servlet-name>
    <url-pattern>/InformationProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController2</display-name>
    <servlet-name>SearchController2</servlet-name>
    <servlet-class>controller.SearchController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController2</servlet-name>
    <url-pattern>/SearchController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s</display-name>
    <servlet-name>s</servlet-name>
    <servlet-class>controller.s</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s</servlet-name>
    <url-pattern>/s</url-pattern>
  </servlet-mapping>
</web-app>